/* Global */
body {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 300px;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    max-width: 1220px;
  }
}

.body {
  width: 100%;
  max-width: 100%;
  background-color: white;
  font-family: 'Roboto', Arial, sans-serif;
}


/* Promo */
.promo {
  display: grid;
  grid-template-columns: 1fr;

  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 30px;

  border-radius: 0 0 15px 15px;

  background-color: #2e3038;
  color: white;
}

@media (min-width: 768px) {
  .promo {
    grid-template-columns: 1.4fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .promo {
    grid-template-columns: 4fr 1fr;

  }
}

.promo__title {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 42px;
  font-weight: 900;
  text-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .promo__title {
    font-size: 77px;
    margin-right: 40px;
    text-align: right;

  }
}
@media (min-width: 1440px) {
  .promo__title {
    padding-bottom: 10px;
    font-size: 83px;
  }
}


/* Robo */
.promo__robo-wrapper {
  margin-left: auto;
  margin-right: auto;
  /* width: 215px; */
  align-items: center;
}

@media (min-width: 768px) {
  .promo__robo-wrapper {
    margin-left: 0;
    margin-right: auto;
  }
}

.promo__robo-baloon {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .promo__robo-baloon {
    padding-bottom: 35px;
  }
}

.promo__robo-text {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  font-family: 'Courier New', Arial, sans-serif;
  font-size: 18px;
  color: #2cff94;
}

.promo__robo-text--animation {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 2px solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .5px; /* Adjust as needed */
  animation:
    typing 3.5s steps(20, end),
    blink-caret .5s step-end 8;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: #2cff94 }
  50% { border-color: transparent; }
}


.promo__robo {
  margin-right: 40px;
  margin-left: 35px;
  fill: white;

}

.robo__flashes {
  fill: transparent;
}

.robo__flashes--animation {
  animation-name: lightning-flashes;
  animation-iteration-count: 11;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 0.3s;
}


@keyframes lightning-flashes {
  from { fill: white; }
  to { fill: transparent; }
}

.promo:hover .robo__eyes {
  animation-name: lightning-eyes;
  animation-iteration-count: 8;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 0.3s;
}


@keyframes lightning-eyes {
  from { fill: transparent; }
  to { fill: #b744d4; }
}


@media (min-width: 768px) {
  .promo__robo {

  }
}

@media (min-width: 1440px) {
  .promo__robo {

  }
}

@media (min-width: 768px) {
  .robo {
    margin-right: auto;
  }
}


.preview-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .preview-wrapper {
      grid-template-columns: 352px 1fr;
      grid-column-gap: 15px;
  }
}
@media (min-width: 1040px) {
  .preview-wrapper {
    grid-column-gap: 25px;
  }
}
@media (min-width: 1440px) {
  .preview-wrapper {
    grid-template-columns: 1fr 3fr;
  }
}


.preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ededf3;
  border-radius: 30px;

  margin-bottom: 25px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 540px) {
  .preview {
    display: grid;
    flex-direction: row;

    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .preview {
      display: flex;
      flex-direction: column;
  }
}

@media (min-width: 1080px) {
  .preview {
    margin-bottom: 25px;

    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
  }
}


.preview__title-wrapper {
  width: 282px;
  position: relative;
  display: inline-block;
}

@media (min-width: 540px) {
  .preview__title-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
  }
}
@media (min-width: 768px) {
  .preview__title-wrapper {
      grid-column-start: 1;
      grid-column-end: 2;
  }
}

.preview__title {
  margin: 0;
  margin-bottom: 15px;
  color: #3949ab;
}

@media (min-width: 768px) {
  .preview__title {
    margin-bottom: 25px;
  }
}

.preview__info-btn {
  position: absolute;
  top: -5px;
  right: 22px;

  border: none;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  background-color: transparent;
  outline: none;
}

.preview__info-btn:focus {
  box-shadow: 0 0 0 2px #b744d4;
}

.preview__info-btn:focus {
  fill: #e27aa1;
}

.preview__gear-icon:hover {
  fill: #e27aa1;
}

.preview__canvas-wrapper {
  margin-bottom: 25px;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 15px;
  background: #ededf3;
  box-shadow:  8px 8px 16px #919194,
               -8px -8px 16px #ffffff;
}

@media (min-width: 540px) {
  .preview__canvas-wrapper {
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.preview__canvas {
  border-radius: 10px;
}


.preview__demo-title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-family: 'Palatino', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #736673;
}

.preview__demo-html {
  margin-bottom: 25px;

  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 15px;
  background: #ededf3;
  box-shadow:  8px 8px 16px #919194,
               -8px -8px 16px #ffffff;
}

@media (min-width: 540px) {
  .preview__demo-html {
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.form__form {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.form__form-wrapper {
  width: 100%;
  box-sizing: border-box;

  background-color: #ededf3;
  border-radius: 30px;

  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

@media (min-width: 768px) {
  .form__form-wrapper{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1080px) {
  .form__form-wrapper{
    margin-bottom: 25px;

    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 1440px) {
  .form__form-wrapper{
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}


.form__title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  color: #3949ab;
}
@media (min-width: 768px) {
  .form__title {
      margin-bottom: 25px;
  }
}


.form__list {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 25px;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 1040px) {
  .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    margin: 0;
  }
}

@media (min-width: 1440px) {
  .form__list {
    grid-template-columns: 1.7fr 1.6fr 2.7fr;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
  }
}


.form__item {
  display: flex;
  flex-direction: column;

  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 10px;
  background: #ededf3;
  box-shadow:  8px 8px 16px #919194,
               -8px -8px 16px #ffffff;
}

@media (min-width: 768px) {
  .form__item {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1440px) {
  .form__item--text {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .form__item--file {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .form__item--background-color {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
  }

  .form__item--gradient {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
  }
}

.form__item--color {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 10px
}


@media (min-width: 760px) {
  .form__item--color {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .form__item--color {
    grid-template-columns: 1fr 1fr;
  }
}

.form__color-text {
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;

  font-family: 'Palatino', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #736673;
}


.form__item:last-child {
  grid-column-start: 1;
  grid-column-end: -1;
}

.form__control--file {
  box-sizing: border-box;
}


.form__control--link {
  box-sizing: border-box;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  outline: none;

  background-color: #2e3038;

  font-family: 'Courier New', Arial, sans-serif;
  font-size: 18px;
  color: #2cff94;

  border-radius: 5px;
}

.form__control--link:focus {
  box-shadow: 0 0 0 2px #2cff94;
}


.form__control--link::placeholder {
  font-family: 'Courier New', Arial, sans-serif;
  font-size: 18px;
  color: #248a56;
}


.form__label {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-family: 'Palatino', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #736673;
}

.form__color-title  {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Palatino', Arial, sans-serif;
  color: #b744d4;
}

.form__color-list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__color-item {
  display: flex;
  flex-direction: column;
}


.form__control--textarea {
  box-sizing: border-box;
  width: 100%;
}

.form__control--banner-text {
  padding: 10px;
  width: 100%;
  resize: none;

  background-color: #2e3038;
  outline: none;

  font-family: 'Courier New', Arial, sans-serif;
  font-size: 18px;
  color: #2cff94;

  border-radius: 5px;
  border: 1px solid grey;
}

.form__control--banner-text:focus {
  box-shadow: 0 0 0 2px #2cff94;
}

.form__control--banner-text::placeholder {
  font-family: 'Courier New', Arial, sans-serif;
  font-size: 18px;
  color: #248a56;
}

.form__control--banner-text::selection {
  background-color: pink;
  color: black;
}

.form__control--color {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  outline: none;

  background-color: #2e3038;
  border-radius: 5px;

  cursor: pointer;
}

.form__control--color:focus {
  box-shadow: 0 0 0 2px #2cff94;
}

.form__control--color-hex {
  box-sizing: border-box;
  width: 100px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  outline: none;

  background-color: #2e3038;

  font-family: 'Courier New', Arial, sans-serif;
  font-size: 18px;
  color: #2cff94;

  border-radius: 5px;
}

.form__control--color-hex:focus {
  box-shadow: 0 0 0 2px #2cff94;
}

.export-buttons__wrapper {
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #ededf3;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .export-buttons__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1080px) {
  .export-buttons__wrapper {
    margin-bottom: 25px;

    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 1440px) {
  .export-buttons__wrapper {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.export-buttons__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 25px;

  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;

  list-style: none;
  margin-bottom: 25px;

  border-radius: 10px;
  background: #ededf3;
  box-shadow:  8px 8px 16px #919194,
               -8px -8px 16px #ffffff;
}

@media (min-width: 1060px) {
  .export-buttons__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.export-buttons__item {
  display: flex;
  flex-direction: column;
}

.export-buttons__button {
  position: relative;

  display: inline-block;
  margin-bottom: 28px;

  outline: none;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 49px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;

  border-radius: 25px;
  border-color: white;

  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

  box-shadow: 0 4px 11px rgba(8, 112, 184, 0.7);
}

.export-buttons__button:hover {
  transition: 0.8s;
  background-image: none;
  background-color: black;
  color: #2cff94;
  color: white;
}

.export-buttons__button:focus {
  box-shadow: 0 0 0 2px #b744d4;
}

.export-buttons__button--save-as-png {
  margin-bottom: 10px;
}

.export-buttons__btn-text {
  margin-right: 10px;
}

 .export-buttons__button-icon {
   position: absolute;
 }

.export-buttons__main-title {
  margin: 0;
  margin-bottom: 15px;
  color: #3949ab;
}
@media (min-width: 768px) {
  .export-buttons__main-title {
    margin-bottom: 25px;
  }
}

.export-buttons__control--with-text {
  background-color: red;
}

.export-buttons__with-text--desc {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-family: 'Palatino', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #736673;
}

.export-buttons__title {
  margin: 0;
  padding: 0;
  margin-bottom: auto;

  font-family: 'Palatino', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #736673;
}

.export-buttons__textarea {
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 10px;
  background: #ededf3;
  box-shadow:  8px 8px 16px #919194,
               -8px -8px 16px #ffffff;
}

.export-buttons__textarea-list {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  list-style: none;
}

.export-buttons__show-config-btn-list {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.export-buttons__show-config {
  z-index: 0;
  margin-right: 10px;

  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 25px;
  padding-right: 25px;

  background-color: #ededf3;
  color: #736673;
  font-size: 16;
  font-family: "Roboto", Arial, sans-serif;

  border-radius: 15px;

  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;

  outline: none;

  background: #ededf3;
  border: 0px;
  background: #ededf3;
  box-shadow:
              inset 4px 4px 8px #ccccd1,
              inset -4px -4px 8px #ffffff;
}

.export-buttons__show-config:focus {
  box-shadow: 0 0 0 1px #b744d4,
              inset 4px 4px 8px #ccccd1,
              inset -4px -4px 8px #ffffff;
}


.export-buttons__show-config--hidden {
  transition: 1s;
  position: relative;
  border-color: transparent;
  background-color: #bdbdbd;
  z-index: 1;
  border: 2px solid a4a4a8;

  background: #ededf3;

  cursor: pointer;

  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
              -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}

.export-buttons__show-config--hidden:focus {
  box-shadow: 0 0 0 1px #b744d4,
              12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
              -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}


.form__control--export-html,
.form__control--export-data-url {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
  background-color: #2e3038;

  outline: #2cff94;

  font-family: 'Courier New', Arial, sans-serif;
  font-size: 14px;
  color: #2cff94;

  border-radius: 5px;
  border: 2px solid grey;
}

.export-buttons__textarea-item--hidden {
  display: none;
}

/* scrollbar */
textarea::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width: 3px;
  height: 0px
}

textarea::-webkit-scrollbar-track {
  background-color: #32312e;
  box-shadow: 0px 0px 3px #000 inset;
}

textarea::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color:#e27aa1;
  box-shadow:0px 1px 1px #fff inset;
}

textarea::-webkit-scrollbar{
  width: 5px;
}


/* Input file */
.form__file-btn {
  border-radius: 50%;
}

.form__label--file {
  text-align: center;
}

.form__control--file:focus + label {
  box-shadow: 0 0 0 2px #b744d4;
  border-radius: 10px;
}


.form__control--file + label svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -4px;
    margin-right: 4px;
}

/* style input */
.form__control--file + label figure {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b744d4;
    display: block;
    padding: 20px;
    margin: 20px auto 10px;
}

.form__control--file:focus + label figure,
.form__control--file + label:hover figure {
    background-color: #9c27b0;
}

.form__control--file + label svg {
    width: 30px;
    height: 30px;
    fill: white;
}
