/* Global */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 280px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    max-width: 1220px;
  }
}

.body {
  width: 100%;
  max-width: 100%;
  background-color: white;
  font-family: 'Roboto', Arial, sans-serif;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 30px;

  background-color: #2e3038;
  color: white;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 5em;
  font-weight: 900;
  word-wrap: break-word;
  align-self: center;
}

.promo__robo-wrapper {
  width: 150px;
}

.promo__robo-baloon {
  width: 150px;
}

.promo__robo-text {
  width: 40em;
  font-family: 'Courier New', Arial, sans-serif;
  font-size: 18px;
  color: #2cff94;
}

.promo__robo-text--animation {
  white-space:nowrap;
  overflow:hidden;
  animation: type 5s steps(50, end);
}

@keyframes type {
  from { width: 0; }
}

.promo__robo {
  margin-right: 40px;
  transform: rotate(-15deg);
}

@media (min-width: 768px) {
  .robo {
    margin-right: auto;
  }
}


.preview-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 15px;
}

.preview__title-wrapper {
  position: relative;
}

.preview__title {
  color: #3949ab;
}

.preview__gear-icon {
  position: absolute;
  top: 0;
  right: 20px;
}


.preview__gear-icon:hover {
  fill: #e27aa1;
}


.form__title {
  color: #3949ab;
}


.form__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 1080px) {
  .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 24px;
    margin: 0;
    padding: 0;

    margin-bottom: 40px;
    list-style: none;
  }
}

.form__item {
  display: grid;
  margin-bottom: 20px;
}

.form__item:last-child {
  grid-column-start: 1;
  grid-column-end: -1;
}

.form__link-wrapper {
  display: flex;
}

.form__button--url-prefix {
  display: inline-block;
  text-align: center;
  display: flex;
  cursor: pointer;
  width: 82px
}

.form__button--url-prefix::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  margin-top: 7px;
  content: "";
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.form__control--link {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.form__label {

  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'Palatino', Arial, sans-serif;
  color: #e27aa1;
}

.form__control--textarea {
  box-sizing: border-box;
  width: 100%;
}

.form__control--banner-text {
  max-width: 273px;
  resize: none;
}

.export-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.export-buttons__item {
  display: flex;
  flex-direction: column;
}

.export-buttons__button {
  display: inline-block;
  margin-top: auto;
}

.export-buttons__main-title {
  color: #3949ab;
}

.export-buttons__title {
  margin: 0;
  margin-bottom: 10px;

  color: #e27aa1;
  font-size: 18px;
  font-weight: normal;
}

.form__control--export-html {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
  background-color: #2e3038;

  font-family: 'Courier New', Arial, sans-serif;
  font-size: 14px;
  color: #2cff94;
}
